<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="main">
      <div class="navbar">
        <h2>Todo App</h2>
      </div>
      <form id="addTodoForm" action="/todo/add/todo" method="post">
        <input
          class="input"
          type="text"
          name="todo"
          spellcheck="false"
          placeholder="Enter Todo"
        />
        <button class="btn">Add Todo</button>
      </form>
      <div class="listbox">
        <ul>
          <% todo.forEach(todos=> {%>
          <li class="list-<%=todos.todo%>">
            <%= todos.todo %>
            <a href="/todo/delete/todo/<%= todos._id %>" class="delbtn">
              <i class="ri-delete-bin-5-fill"></i>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>

    <script>
      const addBtn = document.querySelector(".btn");
      const text = document.querySelector(".input");
      const delBtns = document.querySelectorAll(".delbtn");
      const addTodoForm = document.getElementById("addTodoForm");

      addTodoForm.addEventListener("submit", async (event) => {
        event.preventDefault();
        const todoValue = text.value.trim();

        if (todoValue !== "") {
          const response = await fetch(`/todo/check/${todoValue}`);
          const data = await response.json();

          if (data.exists) {
            alert(`The todo "${todoValue}" is already present!`);
            text.value = "";
          } else {
            addTodoForm.submit();
          }
        } else {
          alert("Empty task is not allowed!");
        }
      });

      delBtns.forEach((delBtn) => {
        delBtn.addEventListener("click", () => {
          const todoText = delBtn.parentElement.textContent.trim();
        const confirmDelete = confirm(`Are you sure you want to delete "${todoText}"?`);

        if (confirmDelete) {
          const todoId = delBtn.getAttribute("data-id");
          // You can now perform the delete operation using the todoId
          alert(`${todoText} task deleted from your TODO-List!`);
        }
        });
      });
    </script>
  </body>
</html>
